@media (max-width: 414px) {
    
    body {
        font-size: 20px;

        padding: 0 10px;
          grid-template-columns: 1fr;
    }


    h1 {
        font-size: 32px;
        text-decoration: none;
    }

    h2 {
        font-size: 28px;
    }

    h3 {
        font-size: 24px;
    }

    h4 {
        font-size: 20px;
    }
    
    nav {
        padding: 5px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    nav ul {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    nav li {
        margin: 5px 0;
        margin-bottom: 8px;
    }

    footer {
        padding: 5px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    footer h2 {
        font-size: 28px;
    }

    footer p {
        font-size: 20px;
    }

    main {
        padding: 10px 0;
        max-width: 100%;
    }


    main p {
        font-size: 20px;
    }

    section {
        padding: 10px 0;
        width: auto;
        margin: 0;
    }

    section h2 {
        padding: 5px;
    }

    section p {
        font-size: 20px;
    }

    article {
        padding: 10px 0;
    }


    article p {
        font-size: 20px;
    }

    article figcaption {
        font-size: 20px;
    }

    iframe {
        width: 100%;
        height: auto;
    }

    figcaption, #box {
        font-size: 20px;
    }
}